---
import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import Heading from '../../components/Heading.astro'
import { Picture } from 'astro:assets'

export const getStaticPaths = async () => {
  const blogs = await getCollection('blogs')

  const paths = blogs.map(blog => ({
    params: { slug: blog.slug },
    props: {
      blog
    }
  }))

  return paths
}

type Props = {
  blog: CollectionEntry<'blogs'>
}

const { blog } = Astro.props
const { Content } = await blog.render()
---

<Layout title={blog.data.title} description={blog.data.description}>
  <article class="mx-auto max-w-[520px] py-7 px-6 sm:px-8">
    <Heading type="h1" className="font-medium md:font-semibold mb-4 md:mb-5"
      >{blog.data.title}</Heading
    >
    <figure>
      <Picture
        src={blog.data.image}
        alt=`${blog.data.title} image`
        class="w-full h-64 object-cover rounded-md"
        loading={`eager`}
      />
    </figure>
    <div class="prose overflow-visible relative mt-6 md:mt-8 leading-6">
      <Content />
    </div>
  </article>
</Layout>

<style is:inline>
  .prose > p {
    text-align: justify;
  }
</style>
