---
import { type CollectionEntry } from 'astro:content'
import Heading from './Heading.astro'
import { Image } from 'astro:assets'

type Props = {
  blog: CollectionEntry<'blogs'>
  slug: string
}

const { blog, slug } = Astro.props
---

<article
  class="hover:shadow-lg transition-all duration-[400ms] hover:scale-[1.005] p-4"
  id={slug}>
  <a href={`/trending/${blog.slug}`} class="flex flex-col">
    <figure>
      <Image
        src={blog.data.image}
        alt={blog.data.title}
        class="w-full h-64 object-cover"
        loading="eager"
      />
    </figure>
    <div class="mt-4 mx-1">
      <Heading type="h3">{blog.data.title}</Heading>
      <p class="line-clamp-2 text-base md:text-lg leading-5 md:leading-6 mt-1">
        {blog.body}
      </p>
    </div>
  </a>
</article>
