---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Analytics from '@vercel/analytics/astro'

interface Props {
  title: string
  keywords: string
  description: string
}

const { title, keywords, description } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <title>{title}</title>

    <meta charset="UTF-8" />
    <meta name="keywords" content={keywords} />
    <meta name="description" content={description} />

    <meta name="author" content="trendpage" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5"
    />
    <meta name="robots" content="index, follow" />
  
    <meta name="mobile-web-app-capable" content="yes" />

    <!-- Open Graph (OG) Meta Tags -->
    <meta name="og:site_name" content="trendpage" />
    <meta name="og:title" content={title} />
    <meta name="og:type" content="website" />
    <meta name="og:image" content="https://www.trendpage.com/logo.png" />
    <meta name="og:url" content="https://www.trendpage.com" />
    <meta name="og:description" content={description} />

    <!-- Twitter Card Meta Tag -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@trendpageofficial" />
    <meta name="twitter:creator" content="@trendpageofficial" />

    <!-- Apple Meta Tags -->
    <meta name="apple-mobile-web-app-title" content="trendpage" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="https://www.trendpage.com/logo.png"
    />
    <link rel="icon" type="image/png" href="/logo.png" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="sitemap" href="sitemap.xml" />
    <link rel="canonical" href="https://www.trendpage.com/" />
  </head>
  <body class="min-h-screen bg-primary">
    <Header />
    <slot />
    <Footer />
    <Analytics />
  </body>
</html>
